<%- include('partials/header') %>

<main>
  <section class="forgot-sec">
    <div class="container flex justify-center-flex align-center">
      <div>
        <h3 class="ternary-heading">set your new password</h3>
        <form action="/verifyEmail/<%= id %>/setPassword" method="POST">
          <% if (error) { %>
          <p><%= error %></p>
          <% } %>
          <input
            type="email"
            name="email"
            id="email"
            value="<%= data.email %>"
          />
          <input
            type="password"
            name="password"
            placeholder="set new password"
            required
          />
          <input
            type="password"
            name="confirmpassword"
            placeholder="set new password"
            required
          />
          <button type="submit" class="form-control">Set Password</button>
        </form>
      </div>
    </div>
  </section>
</main>

<%- include('partials/footer') %>
